
p {
    color: Salmon;
    font-style: italic bold;
    border: 2px solid yellow;
	font-size:40px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


body {
    background-image: url('bookstore.jpg');
    background-size: cover;	
    	
                  
	}
h3 { 
  text-decoration:underline;
  text-align:center;
  font-size: 56px;
  font-weight: 500;
}
h1 {
	
	font-family: Gill Sans, Verdana;
	font-size: 80px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;

}
.outlined {
  text-align: center;
  color: MistyRose;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.outlined2 {
	  text-align: center;
  color: Orchid;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.img_style{
	border-radius:50%;
	float:right;
	margin-left:20px;
  cursor:pointer;
	
	
}
.img2 {
	border-radius:60%;
	margin-left:20px;
	object-fit:cover;
	object-position:right center;
	cursor:pointer;
}
.img3  {
	border-radius:50%;
	object-fit:cover;
	object-position:center;
	margin-left:40px;
  cursor:pointer;
}
ul {
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  display: inline-block;
  list-style-type: none;
}
li {
  display: inline-block;
}
li a {
  display: block;
  color: DarkCyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0
}
li a:hover:not(.active) {
  background-color: #111;
}
/* Style for the lightbox */
.lightbox {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.3s;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
